<!--TOOLBAR-->
<md-toolbar color="primary">
  <!--LEFT-LOGO-->
  <button md-icon-button [mdMenuTriggerFor]="menu1" color="accent">
    <md-icon>spa</md-icon>
  </button>
  <!--LEFT-MENU-->
  <md-menu #menu1="mdMenu">
    <button md-menu-item (click)="onSelect('vipassana')"> 
      <md-icon>brightness_high</md-icon>
      <a>Vipassana</a>
    </button>
    <!--SHOPPING-->
    <button md-menu-item (click)="onSelect('dhamma')">  
      <md-icon>brightness_high</md-icon>
      <span>Dhamma</span>
    </button>
  </md-menu>
  <!--MAIN TITLE-->
  <span class="main-title"> Dhamma Virya </span>
  <span class="spacer"></span>
  <!--RIGHT MENU-->
  <button md-icon-button (click)="sidenav.open()">
    <md-icon>menu</md-icon>
  </button>

</md-toolbar>
<!--MENU RIGHT SIDEBAR-->
<md-sidenav-container class="example-container">
  <md-sidenav align="end" #sidenav class="example-sidenav" mode="over">

    <md-nav-list>
      <md-list-item *ngFor="let link of links ;let i=index">
        <md-icon>keyboard_arrow_left</md-icon>
        <a md-line (click)="showInfo(link)">{{ link }}</a>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>
  <!--MAIN CONTENT-->
  <div class="example-sidenav-content" [ngSwitch]="selectedMenu">
    <md-card *ngSwitchCase="'Welcome'">
      <app-welcome ></app-welcome>
    </md-card>
    <md-card *ngSwitchCase="'Project'">
      <app-project ></app-project>
    </md-card>
    <md-card *ngSwitchCase="'Contribute'">
      <app-contributions ></app-contributions>
    </md-card>
    <md-card *ngSwitchCase="'Contact'">
      <app-contact ></app-contact>
    </md-card>
    <md-card *ngSwitchDefault>
      <app-welcome ></app-welcome>
    </md-card>
  </div>

</md-sidenav-container>